/*universal */

/* Color Theme Swatches in Hex */
.businessman-looking-forwards.-1-hex { color: #F2D399; }
.businessman-looking-forwards.-2-hex { color: #F2B680; }
.businessman-looking-forwards.-3-hex { color: #594431; }
.businessman-looking-forwards.-4-hex { color: #A65A2E; }
.businessman-looking-forwards.-5-hex { color: #D9BBA9; }

/* Color Theme Swatches in RGBA */
.businessman-looking-forwards.-1-rgba { color: rgba(242, 210, 152, 1); }
.businessman-looking-forwards.-2-rgba { color: rgba(242, 181, 128, 1); }
.businessman-looking-forwards.-3-rgba { color: rgba(89, 67, 49, 1); }
.businessman-looking-forwards.-4-rgba { color: rgba(165, 90, 46, 1); }
.businessman-looking-forwards.-5-rgba { color: rgba(216, 186, 169, 1); }

/* Color Theme Swatches in HSLA */
.businessman-looking-forwards.-1-hsla { color: hsla(39, 77, 77, 1); }
.businessman-looking-forwards.-2-hsla { color: hsla(28, 81, 72, 1); }
.businessman-looking-forwards.-3-hsla { color: hsla(28, 29, 27, 1); }
.businessman-looking-forwards.-4-hsla { color: hsla(22, 56, 41, 1); }
.businessman-looking-forwards.-5-hsla { color: hsla(22, 38, 75, 1); }


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,900;1,200;1,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}


/*header*/

.topbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #594431;
    color: #fff;
}

.logos {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 10px;
}

.logos p {
    font-size: 2rem;
    height: 50px;
    font-weight: 900;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.logos img {
    width: auto;
    height: auto;
    
}

.nav-bar {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

@media only screen and (min-width: 370px) and (max-width: 768px){
    .nav-bar {
        display: none;
    }
    
    .logos {
        justify-content: center;
    }

    .logos p {
        font-size: 1.5rem;       
    }
}

/*menu link*/

.menu-link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding: 6px 0 3px;
    margin: 0 5px;
    margin-right: 10px;
  }

.menu-link a {
    text-decoration: none;
    color: #fff;
}

.menu-link a:hover {
    text-decoration: none;
    color: #fff;
}

.menu-link::before,
.menu-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

.menu-link::after {
    bottom: 0;
    transform-origin: right;
  }

.menu-link::before {
    top: 0;
    transform-origin: left;
  }

.menu-link:hover::before,
.menu-link:hover::after {
    transform: scaleX(1);
  }

  /*banner section*/

  .banner {
    background-image: url("/resource/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);  
  }

  .banner-info {
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    color: #fff;
    text-transform: uppercase;
  }

.sign-up {
    background-color: #A65A2E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 20px;
}

.sign-in {
    border: 1px solid #A65A2E;
    background-color: rgba(1, 1, 1,0.0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 20px; 
}

.sign-up:hover {
    background-color: #C46B37;
}

.sign-in:hover {
    background-color: #C46B37;
}

.banner-info h3 {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.75rem;
}
.banner-info h2 {
    font-weight: 800;
    font-size: 4rem;
}

@media only screen and (min-width: 370px) and (max-width: 768px){
    .banner {
        display: flex;
        height: 400px;
    }
    
    .banner-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .banner-info h3 {
        font-weight: lighter;
        font-style: italic;
        font-size: 1rem;
    }
    .banner-info h2 {
        font-weight: 800;
        font-size: 1.75rem;
        text-align: center;
    }

}

/* slider section */

.motto {
    text-align: center;
    margin-top: 30px;
    font-size: 1.25rem;
}

.motto h2 {
    text-decoration: underline;
    font-weight: 800;
}

.gallery {
    margin: 3rem auto;
    width: 75%;
}

/*forum section*/
.forum-sec {
    background-color: #F2B680;
    padding: 2rem;
}

.text-forum {
    text-align: center;
}

.text-forum h2 {
    font-weight: 800;
    font-size: 2rem;
}

.text-forum p {
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 0;
}

.forum {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 2rem;
    grid-gap: 2rem;
}

.forum a:hover {
    transition: transform 0.3s;
    transform: scale(1.05);
    text-decoration: none;
} 

.forum-topic {
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    border-radius: 2em;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.text-topic {
    background-color: rgb(166, 90, 46 ,0.75);
    color: #fdfdff;
    text-align: center;
    border-radius: 0.75em;
    padding: 1em 1em;
    font-size: 1rem;
    margin: 2rem 1rem;
}

.text-topic p {
    margin-bottom: 0;
}

.pic1 {
    background-image: url("/resource/img/story.jpg");
}

.pic2 {
    background-image: url("/resource/img/gear-talk.jpg");
}

.pic3 {
    background-image: url("/resource/img/trick.jpg");
}

.pic4 {
    background-image: url("/resource/img/kitchen.jpg");
}

@media only screen and (min-width: 370px) and (max-width: 768px){
    .forum {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 20px 25px;
        grid-row-gap: 10px;
    }

}

/* about and event section*/

.about-event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.about-us {
    padding: 2rem 10rem;
}

.about-us h2 {
    font-weight: 800;
    font-size: 2rem;
}

.event {
    padding: 2rem 2rem;
}

.event-text {
    text-align: center;
}

.event-text h2{
    font-weight: 800;
    font-size: 2rem;
}

.card img {
    height: 400px;
}